

  @font-face {
    font-family: 'Torono Kugel Serif';
    src: url('/fonts/Torono Kugel Serif.otf') format('otf');
  }
  @font-face {
    font-family: 'I-Ming-5-10-2';
    src: url('/fonts/I-Ming-5-10-2.ttf') format('ttf');
  }

  
  
  h1 {
    font-family: 'Torono Kugel Serif'; 
  }


  h2 {
    font-family: 'I-Ming-5-10-2';
  }
  h2 a {
    color: #94DB5E;  
  }
  h2 a:hover {
    color: #A07AFF;
  }
  